<!DOCTYPE html>
<html>
    <head>
        <base href="@Url.Content("~/")">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title Corp2con</title>
        <link rel="shortcut icon" href="~/images/favicon.png">
        @Styles.Render("~/Content/site")
    </head>
    <body id="home" ng-app="app">
        @RenderBody()
        @Scripts.Render("~/scripts/site")
        @RenderSection("scripts", required: false)
    </body>
</html>