<!DOCTYPE html>
<html>
<head>
    <base href="@Url.Content("~/")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Product.Name</title>
    <link rel="shortcut icon" href="~/content/images/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/site/css")
    @RenderSection("head", required: false)
</head>
<body id="home">
    <div class="fm-outer">
        <div class="fm-inner">
            @Html.Partial("_Header")
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/script/site")
    @RenderSection("Scripts", false)
</body>
</html>
