@using Mvc.Mailer
@{
    var align = string.IsNullOrWhiteSpace(ViewBag.Alignment) ? "" : "align=\"" + ViewBag.Alignment + "\"";
    const string pCSS = "font - size: 15px; font - weight: 300; color: #a5a5a5; line-height: 1.4; margin: 0 10px";
}
<html>
<head>
</head>
<body>
    <div style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;background-color:#fdfdfd;margin:0;width:100%!important">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                                <tr>
                                    <td style="padding:20px"><img src="@Url.Abs(Url.Content("~/Content/images/logo-color.png"))" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#fff;border:solid 1px #ededed!important" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table @align border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%" style="@pCSS">
                                                            <tbody>
                                                                <tr>
                                                                    <td @align style="padding:55px 10px 30px">
                                                                        <h2 style="margin:0;font-size:23px;font-weight:400;color:#2e3645">@ViewBag.Subject</h2>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td @align style="padding:5px 10px 30px">
                                                                        @RenderBody()
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td @align style="padding:5px 10px 30px">
                                                                        @RenderSection("data", required: false)
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-bottom:40px;border-bottom:1px solid #ededed">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:45px;margin:0 auto;table-layout:fixed" width="280">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" bgcolor="#3bca96">
                                                                        @RenderSection("mainButton", required: false)
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;padding-bottom:50px">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-top:dotted 1px #e1e1e1;color:#a5a5a5" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding:10px 0 30px">@Product.Slogan</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="font-weight:300">© @(DateTime.UtcNow.Year) @Product.Name. @Product.Address</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>