@using Mvc.Mailer
<table>
    <tr>
        <th>Name</th>
        <td>@ViewBag.Feedback.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@ViewBag.Feedback.Email</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>@ViewBag.Feedback.Subject</td>
    </tr>
</table>
@ViewBag.Feedback.Message
@section mainButton{
    <a href="@ViewBag.ResetUrl"
       style="font-size: 13px; color: #ffffff; background-color: #3bca96; text-decoration: none; text-decoration: none; padding: 11px 44px 10px; border: 1px solid #3bca96; display: inline-block" target="_blank">
        Reset Password
    </a>
}