@using Talent21.Web.Controllers
@model Talent21.Web.Models.FrontEndViewModel
@{
    Layout = "";
    ViewBag.Title = "Home Page";
    var Product = "Corp2Con";
    var searchController = Model.Role == AccountController.Company ? "companySearchController" : "contractorSearchController";
}
<!DOCTYPE html>
<html data-role="@Model.Role">
<head>
    <base href="@Url.Content("~/")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @Product</title>
    <link rel="shortcut icon" href="~/content/images/favicon.png">
    @Styles.Render("~/Content/spa")
</head>
<body ng-app="app">
    <header>
        <div id="header-background"></div>
        <div class="container">
            <div class="pull-left">
                <div id="logo"><a href="#/"><img src="~/content/images/logo.png" alt="Jobseek - Job Board Responsive HTML Template" /></a></div>
            </div>
            <div id="menu-open" class="pull-right">
                <a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
            </div>
            <div id="searchbox" class="pull-right" ng-controller="searchController">
                <form ng-submit="search(query)">
                    <div class="form-group">
                        <label class="sr-only" for="searchfield">Searchbox</label>
                        <input type="text" class="form-control" id="searchfield" ng-model="query" placeholder="Type keywords and press enter">
                    </div>
                </form>
            </div>
            <div id="search" class="pull-right">
                <a><i class="fa fa-search fa-lg"></i></a>
            </div>
        </div>
    </header>
    <div id="loader">
        <i class="fa fa-cog fa-4x fa-spin"></i>
    </div>
    <div class="fm-container">
        <!-- Menu -->
        <div class="menu">
            <div class="button-close text-right">
                <a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
            </div>
            <ul class="nav">
                @if(Model.Role == AccountController.Company)
                {
                    <li><a href="/#/company/createJobs">Post a job</a></li>
                    <li><a href="/#/jobs">Jobs</a></li>
                    <li><a href="/#/search">Search Contractor</a></li>
                    <li><a href="/#/profile">Company Profile</a></li>
                    <li><a href="/#/bench">Bench Management</a></li>
                    <li><a href="/#/system/industry/edit">Edit Industry</a></li>
                    <li><a href="/#/Fuctional">Edit Fuctional Area</a></li>

                }
                else if (Model.Role == AccountController.Contractor)
                {
                    <li><a href="/#/search">Search Jobs</a></li>
                    <li><a href="/#/applications">Applications</a></li>
                    <li><a href="/#/profile">Manage Profile</a></li>
                    <li><a href="/#/schedule">Manage Schedule</a></li>
                }
                <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
            </ul>
        </div>
        <div ng-view></div>
    </div>
    @Scripts.Render("~/script/spa")

</body>
</html>
