@model Talent21.Web.Models.WelcomePageViewModel
@{
    ViewBag.PageId = "home";
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Unsecured.cshtml";
}
}
<div id="slider" class="sl-slider-wrapper">

    <div class="sl-slider">

        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-1"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Looking for a job?</h2>
                    <h3>There’s no better place to start</h3>
                    <p>
                        <a href="/#/search" class="btn btn-lg btn-default">Find a job</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-2"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Need an employee?</h2>
                    <h3>We've got perfect candidates</h3>
                    <p>
                        <a href="/#/job/create" class="btn btn-lg btn-default">Post a job</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-3"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Evolving your career?</h2>
                    <h3>Find new opportunities here</h3>
                    <p>
                        <a href="/#/search" class="btn btn-lg btn-default">Find a job</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-4"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Extending your team?</h2>
                    <h3>Find a perfect match</h3>
                    <p>
                        <a href="/#/search" class="btn btn-lg btn-default">Find a cadidate</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <nav id="nav-arrows" class="nav-arrows">
        <span class="nav-arrow-prev">Previous</span>
        <span class="nav-arrow-next">Next</span>
    </nav>

    <nav id="nav-dots" class="nav-dots">
        <span class="nav-dot-current"></span>
        <span></span>
        <span></span>
        <span></span>
    </nav>

</div>
<section id="jobs">
    <div class="container">
        <div class="row">
            @if (Model.Jobs!=null && Model.Jobs.Count > 0)
            {
                <div class="col-sm-8">
                    <h2>Recent Jobs</h2>
                    <div class="jobs">
                        <!-- Job offer 1 -->
                        @foreach (var job in Model.Jobs)
                        {
                            <a href="/#/job/@job.">
                                <div class="featured"></div>
                                <img src="/images/job1.jpg" alt="" class="img-circle"/>
                                <div class="title">
                                    <h5>Web Designer</h5>
                                    <p>Amazon Inc.</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                    <span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                </div>
                            </a>
                        }
                    </div>
                    <a class="btn btn-primary" id="more-jobs">
                        <span class="more">Show More Jobs <i class="fa fa-arrow-down"></i></span>
                        <span class="less">Show Less Jobs <i class="fa fa-arrow-up"></i></span>
                    </a>
                </div>
            }
            @if (Model.FeaturedJob != null)
            {
                <div class="col-sm-4">
                    <h2>Featured Jobs</h2>
                    <a href="/#/job/@Model.FeaturedJob.Id">
                        <img src="http://placehold.it/400x265.jpg" alt="Featured Job" class="img-responsive"/>
                        <div class="featured-job">
                            <img src="images/job1.jpg" alt="" class="img-circle"/>
                            <div class="title">
                                <h5>@Model.FeaturedJob.Title</h5>
                                <p>@Model.FeaturedJob.Company</p>
                            </div>
                            @foreach (var loc in Model.FeaturedJob.Locations)
                            {
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i> @loc.Title</span>
                                    <span class="type full-time"><i class="fa fa-clock-o"></i></span>
                                    <span class="sallary"><i class="fa fa-inr"></i>@(Model.FeaturedJob.Rate)k</span>
                                </div>
                            }
                            <div class="description">@Model.FeaturedJob.Description</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
@if (Model.Companies!=null && Model.Companies.Count > 0) { 
<section id="companies" class="color1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Featured Companies</h2>
                <ul id="featured-companies" class="row">
                    @foreach (var company in Model.Companies) {
                        <li class="col-sm-4 col-md-3">
                            <a href="/#/company/@company.Id">
                                <img src="@company.PictureUrl" alt="@company.CompanyName"/>
                                <span class="badge">@company.Jobs</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
}
@if (Model.Numbers != null)
{
    <section id="stats" class="parallax text-center">
        <div class="tint"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Jobseek Stats</h1>
                    <h4>How many people we’ve helped</h4>
                </div>
            </div>
            <div class="row" id="counter">

                <div class="counter">
                    <div class="number">@Model.Numbers.Members</div>
                    <div class="description">Members</div>
                </div>

                <div class="counter">
                    <div class="number">@Model.Numbers.Jobs</div>
                    <div class="description">Jobs</div>
                </div>

                <div class="counter">
                    <div class="number">@Model.Numbers.Contractors</div>
                    <div class="description">Contractors</div>
                </div>

                <div class="counter">
                    <div class="number">@Model.Numbers.Companies</div>
                    <div class="description">Employers</div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <a href="@Url.Action("Register","Account")" class="link-register btn btn-primary">Join Us</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
}
<section id="how">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>How does it work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Curabitur et lorem a massa tempus aliquam. Aenean aliquam volutpat gravida. Pellentesque in neque nec tortor sagittis tempor quis in lectus. Vestibulum vehicula aliquet elit ut porta. Sed ipsum felis, interdum blandit purus sed, volutpat ultricies sem. Maecenas feugiat, lectus vitae luctus feugiat, nulla nisl dignissim velit, nec malesuada ligula orci et metus. In vulputate laoreet luctus.</p>
                <p>Sed hendrerit ligula tortor, eget iaculis velit vestibulum a. Phasellus convallis nisl pretium nisi porttitor, eu scelerisque mauris consectetur. Fusce pretium, dui placerat laoreet consectetur, nibh diam accumsan enim, sed fringilla turpis quam quis ex. Mauris a rhoncus tortor, a cursus urna. Sed et condimentum quam. Nunc dictum erat ut ante aliquam porttitor. Donec diam eros, bibendum et scelerisque egestas, aliquet ut nulla.</p>
                <p>
                    <a href="about.html" class="btn btn-primary">Learn More</a>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <iframe src="https://player.vimeo.com/video/121698707" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="color2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Drop us a line</h2>
                <form role="form" name="contact-form" id="contact-form" action="process.php">
                    <div class="form-group" id="contact-name-group">
                        <label for="contact-name" class="sr-only">Name</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="Name">
                    </div>
                    <div class="form-group" id="contact-email-group">
                        <label for="contact-email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="contact-email" placeholder="Email">
                    </div>
                    <div class="form-group" id="contact-subject-group">
                        <label for="contact-subject" class="sr-only">Subject</label>
                        <input type="text" class="form-control" id="contact-subject" placeholder="Subject">
                    </div>
                    <div class="form-group" id="contact-message-group">
                        <label for="contact-message" class="sr-only">Message</label>
                        <textarea class="form-control" rows="3" id="contact-message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Visit our office</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>New York</h5>
                        <p>
                            5 Park Avenue<br>
                            New York, NY 10016<br>
                            USA
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>+1 718.242.5555<br>
                            <i class="fa fa-fax"></i>+1 718.242.5556<br>
                            <i class="fa fa-envelope"></i><a href="mailto:ny@jobseek.com">ny@jobseek.com</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm<br>
                            <i class="fa fa-clock-o"></i>Sat 10am - 2pm<br>
                            <i class="fa fa-clock-o"></i>Sun Closed
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <h5>Los Angeles</h5>
                        <p>
                            8605 Santa Monica Blvd<br>
                            Los Angeles, CA 90069-4109<br>
                            USA
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>+1 985.562.5555<br>
                            <i class="fa fa-fax"></i>+1 985.562.5556<br>
                            <i class="fa fa-envelope"></i><a href="mailto:la@jobseek.com">la@jobseek.com</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm<br>
                            <i class="fa fa-clock-o"></i>Sat 10am - 2pm<br>
                            <i class="fa fa-clock-o"></i>Sun Closed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div id="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="newsletter">
                    <h2>Newsletter</h2>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="newsletter-email">Email address</label>
                            <input type="email" class="form-control" id="newsletter-email" placeholder="Email address">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                </div>
                <div class="col-sm-6" id="social-networks">
                    <h2>Get in touch</h2>
                    <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="credits">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2015 Jobseek - Responsive Job Board HTML Template<br>
                    Designed &amp; Developed by <a href="http://themeforest.net/user/Coffeecream" target="_blank">Coffeecream Themes</a>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="popup" id="register">
    <div class="popup-form">
        <div class="popup-header">
            <a class="close"><i class="fa fa-remove fa-lg"></i></a>
            <h2>Register</h2>
        </div>
        <form>
            <ul class="social-login">
                <li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Register with Facebook</a></li>
                <li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Register with Google</a></li>
                <li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Register with LinkedIn</a></li>
            </ul>
            <hr>
            <div class="form-group">
                <label for="register-name">Name</label>
                <input type="text" class="form-control" id="register-name">
            </div>
            <div class="form-group">
                <label for="register-surname">Surname</label>
                <input type="text" class="form-control" id="register-surname">
            </div>
            <div class="form-group">
                <label for="register-email">Email</label>
                <input type="email" class="form-control" id="register-email">
            </div>
            <hr>
            <div class="form-group">
                <label for="register-username">Username</label>
                <input type="text" class="form-control" id="register-username">
            </div>
            <div class="form-group">
                <label for="register-password1">Password</label>
                <input type="password" class="form-control" id="register-password1">
            </div>
            <div class="form-group">
                <label for="register-password2">Repeat Password</label>
                <input type="password" class="form-control" id="register-password2">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
